{
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "react",
    "flowtype",
    "react-hooks"
  ],
  "globals": {
    "document": "readonly",
    "localStorage": "readonly",
    "window": "readonly",
    "alert": "readonly",
    "location": "readonly"
  },
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended"
  ],
  "rules": {
    "react/jsx-fragments": [0],
    "padding-line-between-statements": [2, {
      "blankLine": "always",
      "prev": "*",
      "next": "return"
    }, {
      "blankLine": "always",
      "prev": [
        "const",
        "let",
        "var"
      ],
      "next": "*"
    }, {
      "blankLine": "any",
      "prev": [
        "const",
        "let",
        "var"
      ],
      "next": [
        "const",
        "let",
        "var"
      ]
    }, {
      "blankLine": "always",
      "prev": "directive",
      "next": "*"
    }, {
      "blankLine": "any",
      "prev": "directive",
      "next": "directive"
    }, {
      "blankLine": "always",
      "prev": "block-like",
      "next": "*"
    }, {
      "blankLine": "always",
      "prev": "multiline-const",
      "next": "*"
    }, {
      "blankLine": "always",
      "prev": "multiline-let",
      "next": "*"
    }, {
      "blankLine": "always",
      "prev": "multiline-var",
      "next": "*"
    }, {
      "blankLine": "always",
      "prev": "switch",
      "next": "*"
    }, {
      "blankLine": "always",
      "prev": "import",
      "next": "*"
    }, {
      "blankLine": "any",
      "prev": "import",
      "next": "import"
    }, {
      "blankLine": "always",
      "prev": "*",
      "next": "case"
    }, {
      "blankLine": "any",
      "prev": "case",
      "next": "case"
    }, {
      "blankLine": "always",
      "prev": "*",
      "next": "default"
    }, {
      "blankLine": "any",
      "prev": "case",
      "next": "default"
    }],
    "no-multiple-empty-lines": [2, {
      "max": 1,
    }],
    "no-bitwise": [0, {
      "allow": ["~"],
      "int32Hint": true
    }],
    "react/jsx-closing-bracket-location": [2, {
      "nonEmpty": "after-props",
      "selfClosing": "after-props"
    }],
    "react/jsx-filename-extension": [0],
    "comma-dangle": [2, "always-multiline"],
    "jsx-a11y/label-has-for": [0],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "arrow-parens": ["error", "as-needed"]
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "16.9.0"
    }
  }
}
